click==8.1.7
cloudpickle==3.0.0
dask==2024.5.2
docutils==0.21.2
fsspec==2024.6.0
importlib_metadata==7.1.0
locket==1.0.0
m2r2==0.3.3.post2
mistune==0.8.4
numpy==1.26.4
packaging==24.1
pandas==2.2.2
partd==1.4.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
six==1.16.0
toolz==0.12.1
tzdata==2024.1
zipp==3.19.2
